<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springboot.orm.mybatis.mapper.CountryMapper">
    <select id="selectByCountryCode" resultType="org.spring.springboot.orm.mybatis.mapper.MapperCountry">
        select * from MapperCountry where countrycode = #{countrycode}
    </select>
</mapper>